<!DOCTYPE html>
<html>

<head>
    <title> Sök </title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div id="render">
        <p class="success">

        </p>
        <p name="hej"><%= title %></p>
        <img src=<%= photopath%> />
            <%= category %>
                <%= description %>
                    <%= contact.telephone %>
                    <%= contact.email %>
                        <%= time %>
                            <%= location %>
                                <a href="/sak">titta på alla saker</a>
       <input type="submit" action="post">
    </div>
</body>

</html>