<div id="render">
    <p class="success">

    </p>
    <form action="/spara">
        <h1><%=title %></h1>
        <img src=<%=photopath%> />
        <br>
        <%=category %>
            <br>
            <%=description %>
                <br>
                <%=contact.telephone %>
                    <br>
                    <%=contact.email %>
                        <br>
                        <%=time %>
                            <br>
                            <%=location %>
                                <br><a href="/sak">titta på alla saker</a>
                                <br>
                                <input type="submit" value="spara">
                                <br><a href="/forhandsgranskaEdit">Ändra något</a>
                                <br><a href="/nysak">Rensa formulär</a>
                                <br><a href="/sok">Startsidan</a>
    </form>
</div>