<!DOCTYPE html>
<html>
<head>
    <title> Sök </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div id="render">
        <h1><%= title %></h1>
        <img src=<%= photopath%> />
        <%= category %>
        <%= description %>
        <%= contact.telephone %>
        <%= contact.email %>
        <%= time %>
        <%= location %>
        <a href="/sak">titta på alla saker</a>
    </div>
</body>
</html>